.skillSet {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-title {
    margin-bottom: 2rem;
    text-align: center;
    padding-top: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skill-by-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.skill {
    background-color: var(--education-tab-bg-color);
    border-radius: 10px;
    padding: 1rem;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 0.5rem; 
}

.skill:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.skill img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.skill h5 {
    font-size: 1rem; 
    color: var(--primary-text-color);
}

@media (max-width: 896px) {
    .skill {
        width: 150px;
        padding: 0.7rem;
    }
    .skill h5 {
        font-size: small;
    }
}